<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title  -->
        <title>book</title>

        <!-- Favicon  -->
        <link rel="icon" href="../static/img/core-img/favicon.ico">

        <!-- Style CSS -->
        <link rel="stylesheet" href="../static/assets/css/style.css">
<!--        <link rel="stylesheet" href="../static/assets/css/book_style.css">-->
    </head>

    
    <body>
        <!-- menubar start -->
        <div class="mainMenu d-flex align-items-center justify-content-between">
            <!-- Close Icon -->
            <div class="closeIcon">
                <i class="ti-close" aria-hidden="true"></i>
            </div>
            <!-- Logo Area -->
            <div class="logo-area">
                <a href="index.html">Future Library</a>
            </div>
            <!-- Nav -->
            <div class="sonarNav">
                <nav>
                    <ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="book.html">查詢書籍</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_book.html">新增書籍</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">登出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 為了排版 -->
            <div class="copywrite-text">
            </div>
        </div>
        <!-- menubar start -->

        <!-- 左上角標題 start -->
        <header class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-area d-flex justify-content-between">
                            <!-- Logo Area  -->
                            <div class="logo-area">
                                <a href="index.html">Future Library</a>
                                <h2 style="color: white">新增書籍</h2>
                            </div>

                            <div class="menu-content-area d-flex align-items-center">
                                <!-- Menu Icon -->
                                <span class="navbar-toggler-icon" id="menuIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 左上角標題 end -->
        
        <!-- 主畫面 start -->
        <div class="hero-area">
            <div class="hero-content equalize">
         
                <!-- 中間畫面 start -->
                <div class="alime-blog-area section-padding-80-0 mb-70">
                    <div class="container">
                        <div class="row">

                            <!-- 上傳檔案＆照片顯示 start -->
                            
                                
                            <!-- 上傳檔案 start -->
                            <div class="col-12 col-lg-6">
                                <input type="file" id="book_img_btn" accept="image/jpeg, image/png">
                                <!-- 上傳檔案 end -->
                                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms" style="width: 400px;">
                                    <!-- Post Thumbnail -->
                                    <a href="#" class="post-thumbnail">
                                        <img id="book_img" src="../static/img/book_default.png">
                                    </a>
                                </div>
                            </div>
                            <!-- 上傳檔案＆照片顯示 end -->

                            <!-- 使用者輸入＆新增按鈕 start -->
                            <div class="contact-form text-center col-12 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="書名">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="author" placeholder="作者">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="type">
                                        <option selected="selected">文學小說</option>
                                        <option>商業理財</option>
                                        <option>藝術設計</option>
                                        <option>人文史地</option>
                                        <option>社會科學</option>
                                        <option>自然科普</option>
                                        <option>心理勵志</option>
                                        <option>醫療保健</option>
                                        <option>飲食</option>
                                        <option>生活風格</option>
                                        <option>旅遊</option>
                                        <option>宗教命理</option>
                                        <option>親子教養</option>
                                        <option>童書/青少年文學</option>
                                        <option>影視偶像</option>
                                        <option>輕小說</option>
                                        <option>漫畫/圖文書</option>
                                        <option>語言學習</option>
                                        <option>考試用書</option>
                                        <option>電腦資訊</option>
                                        <option>專業/教科書/政府出版品</option>
                                        <option>參考書</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="location">
                                        <option selected="selected">文學小說區</option>
                                        <option>商業理財區</option>
                                        <option>藝術設計區</option>
                                        <option>人文史地區</option>
                                        <option>社會科學區</option>
                                        <option>自然科普區</option>
                                        <option>心理勵志區</option>
                                        <option>醫療保健區</option>
                                        <option>飲食區</option>
                                        <option>生活風格區</option>
                                        <option>旅遊區</option>
                                        <option>宗教命理區</option>
                                        <option>親子教養區</option>
                                        <option>童書/青少年文學區</option>
                                        <option>影視偶像區</option>
                                        <option>輕小說區</option>
                                        <option>漫畫/圖文書區</option>
                                        <option>語言學習區</option>
                                        <option>考試用書區</option>
                                        <option>電腦資訊區</option>
                                        <option>專業/教科書/政府出版品區</option>
                                        <option>參考書區</option>
                                    </select>
                                </div>
                                <button type="button" class="btn sonar-btn" style="float: right;" onclick="add_book()">新增</button>
                            </div>
                            <!-- 使用者輸入＆新增按鈕 end -->
                            
                        </div>
                    </div>
                </div>
                <!-- 中間畫面 end -->
                
                <!-- 下面的線 start -->
                <div class="grids d-flex justify-content-between">
                    <div class="grid1"></div>
                    <div class="grid2"></div>
                    <div class="grid3"></div>
                    <div class="grid4"></div>
                    <div class="grid5"></div>
                    <div class="grid6"></div>
                    <div class="grid7"></div>
                    <div class="grid8"></div>
                    <div class="grid9"></div>
                </div>
                <!-- 下面的線 end -->
        
            </div>
        </div>
        <!-- 主畫面 end -->
        
        
        
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="../static/assets/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="../static/assets/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="../static/assets/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
<!--        <script src="../static/assets/js/plugins.js"></script>-->
        <!-- Active js -->
        <script src="../static/assets/js/active.js"></script>
        <!-- 自己的js -->
        <script src="../static/assets/js/add_book.js"></script>
        <!-- All Plugins -->
<!--        <script src="../static/assets/js/alime.bundle.js"></script>-->
        <!-- Active -->
<!--        <script src="../static/assets/js/default-assets/active.js"></script>-->
    </body>

</html>