<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title  -->
        <title>edit_book</title>

        <!-- Favicon  -->
        <link rel="icon" href="img/core-img/favicon.ico">

        <!-- Style CSS -->
        <link rel="stylesheet" href="../static/assets/css/style.css">
    </head>

    
    <body>
        
        <!-- menubar start -->
        <div class="mainMenu d-flex align-items-center justify-content-between">
            <!-- Close Icon -->
            <div class="closeIcon">
                <i class="ti-close" aria-hidden="true"></i>
            </div>
            <!-- Logo Area -->
            <div class="logo-area">
                <a href="index.html">Future Library</a>
            </div>
            <!-- Nav -->
            <div class="sonarNav">
                <nav>
                    <ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="book.html">查詢書籍</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_book.html">新增書籍</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">登出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 為了排版 -->
            <div class="copywrite-text">
            </div>
        </div>
        <!-- menubar end -->

        <!-- 左上角標題 start -->
        <header class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-area d-flex justify-content-between">
                            <!-- Logo Area  -->
                            <div class="logo-area">
                                <a href="index.html">Future Library</a>
                                <h2 style="color: white">書籍管理</h2>
                            </div>

                            <div class="menu-content-area d-flex align-items-center">
                                <!-- Menu Icon -->
                                <span class="navbar-toggler-icon" id="menuIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 左上角標題 end -->
        
        <!-- 主畫面 start -->
        <div class="hero-area">
            <div class="hero-content equalize">
                
                <!-- 編輯書籍資料 start -->
                <div class="alime-blog-area section-padding-80-0 mb-70">
                    <div class="container">
                        <div class="row">

                            <!-- 照片 start -->
                            <div class="col-12 col-lg-6" >
                                <!-- 上傳檔案 start -->
<!--                                <input type="file" id="book_img_btn" accept="image/jpeg, image/png" style="float: right;">-->
                                <!-- 上傳檔案 end -->
                                
                                <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms" style="width: 300px; float: right;">
                                    <a href="#" class="post-thumbnail" id="show_book">
                                        
                                    </a>
                                </div>
                            </div>
                            <!-- 照片 end -->
                            
                            <!-- input＆按鈕 start -->
                            <div class="contact-form text-center col-12 col-lg-4">
                                <!-- 供使用者輸入的input start -->
                                <div id="show_original_info">
                                    
                                </div>
                                <!-- 供使用者輸入的input end -->
                                
                                <!-- 刪除＆編輯按鈕 start -->
                                <button type="button" class="btn sonar-btn" style="float: right;" onclick="delete_book()">刪除</button>
                                <button type="button" class="btn sonar-btn" style="float: right;" onclick="edit_book()">編輯</button>
                                <!-- 刪除＆編輯按鈕 end -->
                            </div>
                            <!-- input＆按鈕 end -->

                        </div>
                    </div>
                </div>
                <!-- 編輯書籍資料 end -->
                
                <!-- 編輯借閱資料 start -->
                <div class="alime-blog-area section-padding-80-0 mb-70">
                    <div class="container">
                        <div class="row">
                            <div class="contact-form text-center col-12 col-lg-3" style="margin: auto;">
                                <h5 style="font-weight:bold;">使用者ID</h5>
                            </div>
                            <div class="contact-form text-center col-12 col-lg-3" style="margin: auto;">
                                <h5 style="font-weight:bold;">借出日期</h5>
                            </div>
                            <div class="contact-form text-center col-12 col-lg-3" style="margin: auto;">
                                <h5 style="font-weight:bold;">歸還日期</h5>
                            </div>
                            <div class="contact-form text-center col-12 col-lg-3" style="margin: auto;">
                                <center><button type="button" class="btn sonar-btn" onclick="add_borrow_info()">新增借閱資料</button></center>
                            </div>
                        </div>
                        
                        <!-- 借閱資料 顯示 start -->
                        <div id="borrow_info">
                        </div>
                        <!-- 借閱資料 顯示 start -->
                    </div>
                </div>
                <!-- 編輯借閱資料 end -->
                
                
                <!-- 下面的線 start -->
                <div class="grids d-flex justify-content-between">
                    <div class="grid1"></div>
                    <div class="grid2"></div>
                    <div class="grid3"></div>
                    <div class="grid4"></div>
                    <div class="grid5"></div>
                    <div class="grid6"></div>
                    <div class="grid7"></div>
                    <div class="grid8"></div>
                    <div class="grid9"></div>
                </div>
                <!-- 下面的線 end -->
        
            </div>
        </div>
        <!-- 主畫面 end -->
        
        
        
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="../static/assets/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="../static/assets/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="../static/assets/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
<!--        <script src="js/plugins.js"></script>-->
        <!-- Active js -->
        <script src="../static/assets/js/active.js"></script>
        <!-- 自己的js -->
        <script src="../static/assets/js/book_detail_info.js"></script>
        <!-- All Plugins -->
        <script src="../static/assets/js/alime.bundle.js"></script>
        <!-- Active -->
        <script src="../static/assets/js/default-assets/active.js"></script>
    </body>

</html>