<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Library</title>

    <!-- Favicon  -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    
    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="../static/assets/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/slick/slick-theme.css">

</head>

<body style="background-color: #232323;">
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->
    
    <!-- menubar start -->
        <div class="mainMenu d-flex align-items-center justify-content-between">
            <!-- Close Icon -->
            <div class="closeIcon">
                <i class="ti-close" aria-hidden="true"></i>
            </div>
            <!-- Logo Area -->
            <div class="logo-area">
                <a href="index.html">Future Library</a>
            </div>
            <!-- Nav -->
            <div class="sonarNav">
                <nav>
                    <ul>
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">首頁</a>
                        </li>
                        <!-- 使用者 -->
                        <li class="nav-item">
                            <a class="nav-link" href="borrowed.html">已借出</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="borrowed.html">待歸還</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="lookup.html">查詢書籍</a>
                        </li>
                        <!-- 管理者 -->
                        <li class="nav-item">
                            <a class="nav-link" href="book.html">書籍管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="add_book.html">新增書籍</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">登出</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 為了排版 -->
            <div class="copywrite-text">
            </div>
        </div>
        <!-- ***** Main Menu Area End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-area d-flex justify-content-between">
                            <!-- Logo Area  -->
                            <div class="logo-area">
                                <a href="index.html">Future Library</a>
                                <h2 style="color: white">首頁</h2>
                            </div>

                            <div class="menu-content-area d-flex align-items-center">
                                <!-- Menu Icon -->
                                <span class="navbar-toggler-icon" id="menuIcon"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- menubar end -->

    <!-- 最新書籍 start -->
    <section class="variable slider" style="margin-top: 200px;" id="show_new_book">
        <div>
          <img src="../static/img/blog-img/lp2.png" style="height: 300px; width: auto;">
            <div class="hero-slides-content">
                <div class="line"></div>
                <h2 style="color: ghostwhite">書名</h2>
                <p style="color: ghostwhite">作者 | 種類</p>
            </div>
        </div>
        <div>
          <img src="../static/img/blog-img/lp2.png" style="height: 300px; width: auto;">
            <div class="hero-slides-content">
                <div class="line"></div>
                <h2 style="color: ghostwhite">書名</h2>
                <p style="color: ghostwhite">作者 | 種類</p>
            </div>
        </div>
        <div>
          <img src="../static/img/blog-img/lp2.png" style="height: 300px; width: auto;">
            <div class="hero-slides-content">
                <div class="line"></div>
                <h2 style="color: ghostwhite">書名</h2>
                <p style="color: ghostwhite">作者 | 種類</p>
            </div>
        </div>
        <div>
          <img src="../static/img/blog-img/lp2.png" style="height: 300px; width: auto;">
            <div class="hero-slides-content">
                <div class="line"></div>
                <h2 style="color: ghostwhite">書名</h2>
                <p style="color: ghostwhite">作者 | 種類</p>
            </div>
        </div>
        <div>
          <img src="../static/img/blog-img/lp2.png" style="height: 300px; width: auto;">
            <div class="hero-slides-content">
                <div class="line"></div>
                <h2 style="color: ghostwhite">書名</h2>
                <p style="color: ghostwhite">作者 | 種類</p>
            </div>
        </div>
<!--        </div>-->
    </section>
    <!-- 最新書籍 end -->
    
    <!-- 圖書館資訊 start -->
    <div class="alime-blog-area section-padding-80-0 mb-70 hero-area">
        <div class="container">
            <div class="row">
                <div class="contact-form text-center col-12 col-lg-4" style="margin: auto;">
                    <h5>圖書館名稱</h5>
                </div>
            </div>
            
            <div class="row">
                <div class="contact-form text-center col-12 col-lg-4" style="margin: auto;">
                    <h5>地點：圖書館位置</h5>
                </div>
            </div>
            
            <div class="row">
                <div class="contact-form text-center col-12 col-lg-4" style="margin: auto;">
                    <h5>圖書館營業時間如下</h5>
                </div>
            </div>
            <div class="row">
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto; align-items: center;">
                    <span>Mon.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Tue.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Wed.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Thr.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Fri.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Sat.</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>Sun.</span>
                </div>
            </div>
            
            <div class="row">
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto; align-items: center;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
                <div class="contact-form text-center col-12 col-lg-1" style="margin: auto;">
                    <span>09:00 ~ 21:00</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 圖書館資訊 end -->
    
<!--    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>-->
    
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../static/assets/js/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../static/assets/slick/slick.min.js" charset="utf-8"></script>
    <!-- Popper js -->
    <script src="../static/assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
<!--    <script src="../static/assets/js/plugins.js"></script>-->
    <!-- Active js -->
    <script src="../static/assets/js/active.js"></script>
    <!-- 自己的js -->
    <script src="../static/assets/js/index.js"></script>

</body>

</html>